In [1]:
import os
import pandas as pd

In [2]:
df = pd.read_csv("cloc.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 6 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   language                                                                     91 non-null     object
 1   filename                                                                     90 non-null     object
 2   blank                                                                        91 non-null     int64
 3   comment                                                                      91 non-null     int64
 4   code                                                                         91 non-null     int64
 5   github.com/AlDanial/cloc v 1.94  T=0.05 s (1900.9 files/s 147344.2 lines/s)  0 non-null      float64
dtypes: float64(1), int64(3), object(2)
memory usage: 4.4+ KB

In [3]:
df[['_p', 'set', 'experiment', 'system', 'file']] = df.filename.str.split("/", n=4, expand = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 11 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   language                                                                     91 non-null     object
 1   filename                                                                     90 non-null     object
 2   blank                                                                        91 non-null     int64
 3   comment                                                                      91 non-null     int64
 4   code                                                                         91 non-null     int64
 5   github.com/AlDanial/cloc v 1.94  T=0.05 s (1900.9 files/s 147344.2 lines/s)  0 non-null      float64
 6   _p                                                                           90 non-null     object
 7   set                                                                          90 non-null     object
 8   experiment                                                                   84 non-null     object
 9   system                                                                       83 non-null     object
 10  file                                                                         83 non-null     object
dtypes: float64(1), int64(3), object(7)
memory usage: 7.9+ KB

In [4]:
df = df.groupby(["set", "experiment", "system"])[["code"]].aggregate('sum')
df.head()

                                   code
set   experiment           system
batch collisions           flink    139
                           mpi      503
                           noir     192
      connected-components flink     97
                           mpi       85

In [5]:
df.to_csv("loc.csv")

In [6]:
# !bash ./gzipped_size.sh